.App {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f8f9fb;
}

@media (min-width: 900px) {
  .App {
    height: 100vh;
  }
}

.checkout-container {
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #f8f9fb;
}

@media (min-width: 900px) {
  .checkout-container {
    width: 70%;
    height: 60%;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #616e7e;
  align-self: flex-start;
}

h1::after {
  content: "";
  display: block;
  width: 35%;
  height: 4px;
  border-radius: 4px;
  background-color: #52a0ea;
  margin-top: 1rem;
  margin-left: 3px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-item {
  width: 100%;
}

.flex-item > div {
  margin-bottom: 15px;
}

@media (min-width: 900px) {
  .flex-container {
    flex-direction: row;
  }
  .flex-item {
    width: 47.5%;
  }
}

.currency-container {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: 400;
  color: #616e7e;
}

.currency-container > p {
  align-self: center;
  margin-right: 10px;
}

select {
  width: 20%;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #e5e8ef;
  background-color: white;
  padding: 0 10px;
}

@media (max-width: 900px) {
  select {
    width: 30%;
  }
}